name: Security audit

on:
  schedule:
    - cron: "0 0 * * *"
  push:
    branches: [main]
    paths:
      - "**/Cargo.toml"
      - "**/Cargo.lock"
  pull_request:

permissions:
  contents: read

jobs:
  audit:
    name: Audit dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - uses: EmbarkStudios/cargo-deny-action@76cd80eb775d7bbbd2d80292136d74d39e1b4918 # v2.0.14
        with:
          rust-version: 1.89.0
